<header>
    <div class="navbar navbar-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <div>
                <i style="font-size: 40px; margin: 0px 20px;" class="fa-solid fa-ticket" >&nbsp;
                </i>
                <strong >Ticket Bar</strong>
            </div>
            <!-- <i class="fa-solid fa-ticket"></i> -->
        </div>
        
        <div *ngIf="this.AuthService.isloggedin === false; else issignedin"  >
            <button routerLink="signIn" class="btn btn-signIn">Sign In</button>
            <button routerLink="signUp" class="btn btn-signUp" style="margin: 0 10px;">Sign Up</button>
        </div>

        <ng-template #issignedin>
            <div class="align-item-center d-flex">
                <span>{{AuthService.user.username}}</span>
                
                
                
                <button class="btn btn-signOut" (click)="onLogoutClick() ">Sign Out</button>
            </div>
        </ng-template>

        
    </div>
</header>
<router-outlet></router-outlet>